{% extends "events/base.html" %}
{% load event_format %}

{% block title %}{{ month|date:"F Y" }} Calendar{% endblock %}

{% block description %}Browse meetings, trips, activity nights and more for {{ month|date:"F Y" }}. Boy Scout Troop 89 Medfield.{% endblock %}

{% block content_main %}
    <div class="calendar">
        <div class="nav">
            <ul>
                <li class="prev"><a rel="prev" href="{% url "events:calendar-month" previous_month.year previous_month.month %}"> </a>
                </li>
                <li class="next"><a rel="next" href="{% url "events:calendar-month" next_month.year next_month.month %}"></a></li>
                <li class="title"><a href="{% url "events:event-archive-month" month.year month.month %}">{{ calendar.title }}</a></li>
            </ul>
        </div>
        <div class="dates">
            {% spaceless %}{# Collapse whitespace nodes between list items #}
                <ul class="weekdays">
                    <li>sun</li>
                    <li>mon</li>
                    <li>tues</li>
                    <li>wed</li>
                    <li>thurs</li>
                    <li>fri</li>
                    <li>sat</li>
                </ul>

                <ul class="days">
                    {% for week in calendar.events_by_month_dates %}
                        {% for cal_day in week %}
                            {% with cal_day.date as date %}
                                <li class="{% if calendar.month != date.month %} othermonth {% endif %}{% if date|is_today %} today {% endif %}">
                                    <a class="number"
                                       href="{% url "events:event-archive-day" date.year date.month date.day %}">{{ date.day }}</a>
                                    {% if cal_day.events %}
                                        <ul class="events">
                                            {% for event in cal_day.events %}
                                                <li><a href="{{ event.get_absolute_url }}">
                                                    {{ event.title|escape }} ({% event_date_overlap event date %})
                                                </a></li>
                                            {% endfor %}
                                        </ul>
                                        {% repeat_str "&compfn;" cal_day.events|length as dots %}
                                        <span class="eventdots">{{ dots|safe }}</span>
                                    {% endif %}
                                </li>
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endspaceless %}
        </div>
    </div>
    <div class="notice">
        <h2><a href="{% url "events:event-archive-month" month.year month.month %}">See all {{ month|date:"F Y" }} Events</a></h2>
    </div>
{% endblock %}


