{% extends "events/base.html" %}
{% load event_format %}

{% block title %}{{ event.title }}{% endblock %}

{% block info_banner %}
    <h1>Event Details</h1>
{% endblock %}

{% block content_main %}
    <div class="notice">
        <ul class="nav">
            <li><a href="{% url "events:calendar-month" event.start.year event.start.month %}"> See calendar</a></li>
        </ul>
    </div>
    <div class="event-detail">
        <h2>{{ event.title }}</h2>
        <span class="meta">
            {% with start_date=event.start.date end_date=event.end.date %}
                {% if start_date == end_date %}
                    <a href="{% url "events:event-archive-day" start_date.year start_date.month start_date.day %}">
                        {{ start_date }} {{ event.start.time }} - {{ event.end.time }}
                    </a>
                {% else %}
                    <a href="{% url "events:event-archive-day" start_date.year start_date.month start_date.day %}">{{ event.start }}</a>
                    -
                    <a href="{% url "events:event-archive-day" end_date.year end_date.month end_date.day %}">{{ event.end }}</a>
                {% endif %}
            {% endwith %}
        </span>
        <p> {{ event.description }}</p>
    </div>
{% endblock %}


