{% extends "events/base.html" %}
{% load event_format %}

{% block title %}{{ event.title }}{% endblock %}

{% block description %}{{ event.formatted_description|striptags|truncatechars:150 }}{% endblock %}

{% block info_banner %}
    <h1>Event Details</h1>
{% endblock %}

{% block content_main %}
    <div class="notice">
        <ul class="nav">{% spaceless %}
            <li class="prev"><a rel="prev" href="{{ event.get_previous_by_start.get_absolute_url }}">Previous<span class="extra"> event</span></a></li>
            <li class="current"><a href="{% url "events:calendar-month" event.start.year event.start.month %}"> See calendar</a></li>
            <li class="next"><a rel="next" href="{{ event.get_next_by_start.get_absolute_url }}">Next<span class="extra"> event</span></a></li>
        {% endspaceless %}</ul>
    </div>

    <div class="event-detail">
        <h2>{{ event.title }}</h2>
        <span class="meta">
            {% if event.start.date == event.end.date %}
                <a href="{% url "events:event-archive-day" event.start|date:"Y" event.start|date:"m" event.start|date:"d" %}">
                    {{ event.start|date }} {{ event.start|time }} - {{ event.end|time }}
                </a>
            {% else %}
                <a href="{% url "events:event-archive-day" event.start|date:"Y" event.start|date:"m" event.start|date:"d" %}">{{ event.start }}</a>
                -
                <a href="{% url "events:event-archive-day" event.end|date:"Y" event.end|date:"m" event.end|date:"d" %}">{{ event.end }}</a>
            {% endif %}
            {% if request.user.is_staff and perms.events.change_event %}
                (<a href="{% url "admin:events_event_change" event.id%}">edit</a>)
            {% endif %}
        </span>
        <p> {{ event.formatted_description|safe}}</p>
    </div>
{% endblock %}


