{% extends "events/event_archive_base.html" %}
{% load event_format %}

{% block title %}{{ month|date:"F Y" }} Events{% endblock %}

{% block description %}Browse meetings, trips, activity nights and more for {{ month|date:"F Y" }}. Boy Scout Troop 89 Medfield.{% endblock %}

{% block notice %}
    <div class="notice">
        <ul class="nav">{% spaceless %}
            <li><a rel="prev" href="{% url "events:event-archive-month" previous_month.year previous_month.month %}">Previous<span class="extra"> month</span></a></li>
            <li><a href="{% url "events:calendar-month" month.year month.month %}">See calendar</a></li>
            <li><a rel="next" href="{% url "events:event-archive-month" next_month.year next_month.month %}">Next<span class="extra"> month</span></a></li>
        {% endspaceless %}</ul>
    </div>
    <h1>{{ month|date:"F Y" }} Events</h1>
{% endblock %}

{% block event_meta %}
    {# 'event' available from the context of parent template #}
    {% include "events/includes/event_time.html" %}
{% endblock %}

{% block no_event %}
    <p> There are no events scheduled to start in this month.</p> {# Add link to add one if use has add perm. #}
{% endblock %}
