{% extends "events/base.html" %}

{% block info_banner %}
    <h1>Events Archive</h1>
{% endblock %}

{% block content_main %}
    {% block notice %}{% endblock %}

    {% if events %}
        <ul class="object-archive">
            {% for event in events %}
                <li>
                    <div class="event-detail">
                        <h2><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
                        <span class="meta"> {% block event_meta %}{% endblock %}</span>
                        <p> {{ event.formatted_description|safe|truncatewords_html:80 }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% block no_event %}{% endblock %}
    {% endif %}
{% endblock %}


