{% extends "events/event_archive_base.html" %}
{% load event_format %}

{% block title %}{{ month|date:"F Y" }} Events{% endblock %}

{% block notice %}
    <div class="notice">
        <ul class="nav">{% spaceless %}
            <li><a href="{% url "events:event-archive-month" previous_month.year previous_month.month %}">Previous month</a></li>
            <li><a href="{% url "events:calendar-month" month.year month.month %}">See calendar</a></li>
            <li><a href="{% url "events:event-archive-month" next_month.year next_month.month %}">Next month</a></li>
        {% endspaceless %}</ul>
    </div>
    <h1>{{ month|date:"F Y" }} Events</h1>
{% endblock %}

{% block event_meta %}
    {% with start_date=event.start.date end_date=event.end.date %}
        {% if start_date == end_date %}
            <a href="{% url "events:event-archive-day" start_date.year start_date.month start_date.day %}">
                {{ start_date }} {{ event.start.time }} - {{ event.end.time }}
            </a>
        {% else %}
            <a href="{% url "events:event-archive-day" start_date.year start_date.month start_date.day %}">{{ event.start }}</a>
            -
            <a href="{% url "events:event-archive-day" end_date.year end_date.month end_date.day %}">{{ event.end }}</a>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block no_event %}
    <p> There are no events scheduled to start in this month.</p> {# Add link to add one if use has add perm. #}
{% endblock %}
