// Styling for font face, color, sizing, etc.
// Basic font sizing was inspired by djangoproject.com. See their `_style.scss`_ file.
//
// .. _\_style.scss: https://github.com/django/djangoproject.com/blob/master/djangoproject/scss/_style.scss

// See https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/.
html {
  font-size: 62.5%;
}

body {
  // Body font, serif
  @include serif;
  @include font-size(16);
  line-height: 1.6;
  color: get_color(text);
}

// Default formatting for anchors
a {
  color: lighten(get_color(text), 10%);
  text-decoration: underline;

  &:hover, &:active, &:focus {
    color: lighten(get_color(text), 20%);
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  // Header font, sans-sherif
  @include sans-serif;
  font-weight: 400;

  &:first-letter {
    text-transform: capitalize;
  }

  // Anchors in headers
  a {
    text-decoration: none;
    color: get_color(header_link);

    &:visited {
      color: get_color(header_link);
    }

    &:hover, &:focus {
      color: lighten(get_color(header_link), 10%);
    }
  }
}

.sidebar {
  h1, h2 {
    &:not(:first-child) {
      margin-top: 30px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid lighten(get_color(rule), 20%);
      padding-bottom: 15px;
    }
  }
}

h1, h2 {
  letter-spacing: -2px;
}
h3 {
  letter-spacing: -1px;
}

// Header 1-4 size definitions.
// Only headers 1 - 4 are defined as header 4 is already smaller than
// the body's font size. Going any deeper is simply not necessary.

h1 {
  @include font-size(28);

  @include respond-above($break-small) {
    @include font-size(32)
  }
}

h2 {
  @include font-size(24);

}

h3 {
  @include font-size(20);
}

h4 {
  @include font-size(16)
}

.meta {
  margin-top: 8px;
  color: get_color(rule); //or #859D94;?

  a {
    text-decoration: none;

    color: get_color(rule);

    &:hover, &:active, &:focus {
      color: darken(get_color(rule), 20%);
    }
  }
}
