// Known issues:
// 1. The bottom corner of the main element or sidebar div will visibly
// extend through the content wrapper. Possible solutions:
//  a. Add additional padding to main element.
//  b. Add an equivalent border radius to the sidebar div.
//  For now, this has been mitigated with a 2% bottom margin.

body {
  margin: 0;
  background: get_color(background);

  @include respond-above($break-large) {
    background-size: cover;
    background: url("../img/leaving-ring-place-2017.jpg") fixed get_color(background);
  }
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 4.2%;
}

.info-banner {
  background: get_color(info_banner);
  border-bottom: solid get_color(banner) 1px;

  h1 {
    margin: 0;
    padding: 7px 0;
    color: get_color(text);
    letter-spacing: -2px;
  }
}

.content {
  padding: 0;

  background: get_color(background);

  @include respond-above($break-large) {

    margin-top: 2%;
    box-shadow: 1px 1px 3px 1px get_color(banner);
    border-top: solid get_color(content_lip) 14px; //#E2E2D1 #933441
    border-radius: 15px;
  }

  &:after {
    // Note: if this clearfix is removed during a restyling in the future,
    // be sure to add a ``clear: both`` tag to the footer element. Otherwise,
    // the footer won't be pushed to the bottom of the floating elements.
    @include clearfix;
  }
}

main {
  background: get_color(body);
  padding: 0 2%;

  @include respond-above($break-small) {
    margin-bottom: 2%;
    min-height: 800px;
    .content-binary & {
      box-sizing: border-box;
      float: left;
      width: (100% * 2/3);
    }
  }
}

.sidebar {
  @include font-size(14);
  background: get_color(sidebar);
  // 1px bottom padding is required to prevent a gap between the sidebar
  // and the foot on mobile devices.
  padding: 0 1% 1px;

  @include respond-above($break-small) {
    box-sizing: border-box;
    float: right;
    width: (100% * 1/3);
  }

  .listing {
    padding: 0 0 0 8px;
    list-style: none;

    h2 {
      margin-bottom: 0;
    }

    h3 {
      margin-top: 10px;
      margin-bottom: 0;

      &::after {
        @include font-size(18);
        margin-left: 8px;
        content: "\000BB";
      }
    }

    li {
      @include font-size(16);

      .meta a {
        color: darken(get_color(rule), 20%);

        &:hover, &:active, &:focus {
          color: darken(get_color(rule), 40%);
        }

      }
    }
  }

  .flex-listing {
    @extend .listing;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    li {
      padding: 2px 4px;

      a {
        text-decoration: none;
      }
    }
  }
}

section {
  padding-bottom: 35px;
  border-bottom: 1px solid get_color(rule);

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}

div.notice {
  margin-top: 10px;
  padding: 0 10px;
  background-color: get_color(sidebar);
  border-radius: 10px;

  h2 {
    text-align: center;
    //padding: 10px 0;
    margin: 0;
    padding: 5px 0;
  }

  ul.breadcrumbs {
    display: inline-block;
    padding-left: 0;
    margin: 2px 0;

    li {
      @include respond-above($break-small) {
        @include font-size(18);
      }

      display: inline-block;
      padding: 0 2px;

      &::before {
        content: "/";
        padding-right: 4px;
      }

      &:last-child::after {
        content: "/";
        padding-left: 4px;
      }
    }

    a {
      text-decoration: none;
    }

  }

  ul.nav {
    padding-left: 0;
    margin: 5px 0;

    li {
      margin: 0;
      box-sizing: border-box;
      display: inline-block;
      width: (100% * 1/ 3);

      & > a, & > p {
        display: block;
        text-decoration: none;
        @include font-size(20);
        text-align: center;
        margin: 10px;
      }

      .extra {
        display: none;
        @include respond-above($break-small) {
          display: inline;
        }
      }

      &:first-child a {
        text-align: left;

        &::before {
          content: "\276E";
          margin-right: 10px;
        }
      }

      &:last-child:not(:first-child) a {
        text-align: right;

        &::after {
          content: "\276F";
          margin-left: 10px;
        }
      }

    }
  }
}

ul.object-archive {
  list-style-type: none;
  padding: 0;
  margin: 0;

  & > li {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    margin-top: 15px;
    margin-bottom: 50px;
    padding-top: 20px;
    border-top: 1px solid get_color(rule);

  }

  a.full-object {
    @include sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

    &::after {
      @include font-size(18);
      margin-left: 8px;
      content: "\000BB";
    }
  }
}

blockquote {
  padding: 5px 20px;
  margin: 0 0 20px;
  border-left: 3px solid get_color(rule);

  p {
    margin: 0 0 10px;
  }
}

.link-bubble-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  background-color: get_color(sidebar);
  border-radius: 10px;
  padding: 6px;
}

.link-bubble {
  padding: 2px 10px 6px;
  margin-right: auto;

  header {
    h3 {
      @include font-size(18);
      margin: 0;
    }
  }

  ul {
    margin-top: 0;
    margin-bottom: 2px;
    padding-left: 0;
    list-style: none;

    li a {
      @include font-size(14);
      text-decoration: none;
    }
  }
}

figure {
  margin: auto;
  display: block;

  img {
    margin: auto;
    display: block;
    max-width: 90%;
  }

  footer {
    text-align: center;
  }
}
