.members-header {
  .title {
    text-align: center;
    margin-bottom: 0;
  }

  .meta {
    @include sans-serif;
    display: block;
    @include font-size(24);
    text-align: center;
    text-transform: capitalize;

  }
}

.patrol-member-type {
  // todo: consider migrating to flex box
  .title {
    display: block;
    font-weight: bold;
    background: get_color(info_banner);
    padding-left: 10px;
  }

  ul {
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;

    div {
      background-color: get_color(sidebar);

      &:nth-child(2n) {
        background-color: darken(get_color(sidebar), 3%);
      }
    }
  }

  li {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;

    &.full-width {
      width: 100%;
    }
  }
}

.patrol-bubble {
  margin-bottom: 10px;

  @include respond-above($break-small) {
    padding: 0 10px;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;

    &.col-3 {
      width: (100% / 3);
    }

    &.col-2 {
      width: 50%;
    }
  }

}

.bubble-header {
  text-align: center;

  .title {
    a {
      color: white;
      text-decoration: none;

      &:hover, &:active, &:focus {
        color: lighten(get_color(banner), 60%);
      }
    }

    @include font-size(20);
    font-weight: bold;
    display: block;
  }

  background-color: lighten(get_color(banner), 5%);
  color: white;
}

.position-flex {
  @include respond-above($break-small) {

    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
  }
}

.position-bubble {
  flex: 1;

  &.multi {
    flex-grow: 2;
  }

  @include respond-below($break-small) {
    margin-bottom: 40px;
  }

  background-color: get_color(sidebar);

  @include respond-above($break-small) {
    margin-right: 20px;
  }

  .bubble-header {
    box-sizing: border-box;
    padding: 8px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  ul {
    display: flex;
    flex-flow: wrap row;

    margin: 0;
    padding-left: 0;

    li {
      flex-grow: 1;
      text-align: center;
      background-color: get_color(sidebar);
      list-style: none;
      min-width: 150px;
    }

  }
}



