{% extends "base_binary.html" %}
{% load flatpage_hierarchy %}
{% load render_json_ld from json_ld %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block description %}{% spaceless %}
    {% with trimmed_content=flatpage.content|striptags|truncatechars:150 %}
        {% if trimmed_content %}
            {{ trimmed_content }}
        {% elif flatpage.parent_pages %} {# Parent pages are cached, to repeated access does not cause additional queries #}
            Read about {{ flatpage.parent_pages.0.title }} - {{ flatpage.title }}. Boy Scout Troop 89 Medfield.
        {% else %}
            Read about {{ flatpage.title }}. Boy Scout Troop 89 Medfield.
        {% endif %}
    {% endwith %}
{% endspaceless %}{% endblock %}

{% block info_banner %}<h1>{{ flatpage.title }}</h1>{% endblock %}

{% block structured_data %}
    {{ block.super }}
    {% render_json_ld flatpage.sd_breadcrumb %}
{% endblock %}

{% block content_main %}
    <div class="notice">
        <ul class="breadcrumbs">
            <li><a href="{% url "home" %}">Troop 89</a></li>
            {% for parent in flatpage.parent_pages reversed %}
                <li><a href="{{ parent.url }}">{{ parent.title }}</a></li>
            {% endfor %}
            <li>
                {{ flatpage.title }}
                {% if request.user.is_staff and perms.troop89_flatpages.change_hierarchicalflatpage %}
                    (<a class="edit" href="{% url "admin:troop89_flatpages_hierarchicalflatpage_change" flatpage.id %}">edit</a>)
                {% endif %}
            </li>
        </ul>

    </div>
    <section>
        {{ flatpage.content }}
    </section>

    {% get_flatpage_hierarchy flatpage as flatpage_tree depth=2 %}
    {% if flatpage_tree %}
    <section>
        <h3>Subtopics</h3>
        <div class="link-bubble-flex">
            {% for subpage in flatpage_tree %}
            <div class="link-bubble">
                <header>
                    <h3 class="title">
                        {% if subpage.page %}
                            <a href="{{ subpage.page.url }}">{{ subpage.title }}</a>
                        {% else %}
                            {{ subpage.title }}
                        {% endif %}
                    </h3>
                </header>
                {% if subpage.children %}
                    <ul>
                    {% for child in subpage.children %}
                        <li><a href="{{ child.page.url }}">{{ child.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

{% endblock %}

{% block content_sidebar %}
    {% render_related_pages flatpage %}
    {{ block.super }}
{% endblock %}
