{% load staticfiles %}

<footer>{% spaceless %} {# note: spaceless is is used here to prevent whitespace element from breaking column layouts #}
    <div class="transition"></div>
    <div class="sock">
        <div class="container">
            <div class="ramble">
                <p>Troop 89 strongly believes in enabling youth to learn through experience. For this reason, our
                    website is designed and maintained by our youth members.</p>
                {% with badge_style="plastic" %}
                    <span class="badges">
                        <a href="https://github.com/blueschu/troop89medfield.org">
                            <img alt="GitHub last commit"
                                 src="https://img.shields.io/github/last-commit/blueschu/troop89medfield.org.svg?style={{ badge_style }}">
                        </a>
                        <a href="https://github.com/blueschu/troop89medfield.org/releases/latest">
                            <img alt="GitHub tag (latest SemVer)"
                                 src="https://img.shields.io/github/tag/blueschu/troop89medfield.org.svg?style={{ badge_style }}">
                        </a>
                    </span>
                {% endwith %}
            </div>
            <div class="map">
                <div class="column">
                    <h2> See Also </h2>
                    <ul>
                        <li><a rel="nofollow" href="https://www.troop10medfield.org/">Troop 10, Medfield</a></li>
                        <li><a href="https://www.scouting.org/">Boy Scouts of America </a></li>
                        <li><a href="https://www.mayflowerbsa.org/"> Mayflower Council </a></li>
                        <li><a href="https://oa-bsa.org/">Order of the Arrow </a></li>
                        <li><a href="https://www.mayflowerbsa.org/program/activities/tantamous-lodge/">
                            Tantamous Lodge
                        </a></li>
                    </ul>
                </div>
                <div class="column">
                    <h2> More Info </h2>
                    <ul>
                        {# These links are temporary and serve mostly a a space filler. This section will be populated by site-relevant content in the future #}
                        <li><a href="http://meritbadge.org/wiki/index.php/Merit_Badges">Merit Badges</a></li>
                        <li><a href="http://meritbadge.org/wiki/index.php/Positions_of_Responsibility">Positions of
                            Responsibility</a></li>
                        <li><a href="http://meritbadge.org/wiki/index.php/Order_of_the_Arrow">Order of the Arrow</a>
                        </li>
                        {#                        <li><a href="#">Joining</a></li>#}
                        {#                        <li><a href="#">About the Troop</a></li>#}
                        {#                        <li><a href="#">About this Site</a></li>#}
                        {#                        <li><a href="#">Privacy</a></li>#}
                        {#                        <li><a href="#">Security</a></li>#}
                    </ul>
                </div>
                <div class="column">
                    {#                    <h2> Follow the Troop </h2>#}
                    <h2>Troop Contacts</h2>
                    <ul>
                        {#                        <li><a href="#">Contact</a></li>#}
                        <li><a href="https://twitter.com/troop89medfield">Twitter</a></li>
                        <li><a href="https://github.com/blueschu/troop89medfield.org/issues">Website Issues</a></li>
                        <li><a href="mailto:scoutmaster@troop89medfield.org">Scoutmaster</a></li>
                        <li><a href="mailto:webmaster@troop89medfield.org">Webmaster</a></li>
                        {#                        <li><a href="#">Mailing Lists</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="shoe">
        <div class="container">
            <ul class="acknowledgements">
                <li>
                    <p>Mayflower Council's Troop 89</p>
                    <a class="bsa-logo" href="https://www.scouting.org/">
                        <img src="{% static "img/fleur-de-lis-white-transparent.png" %}"
                             alt="The Boy Scouts of America">
                    </a>
                </li>
                <li>
                    <p>Hosting by</p>
                    <a class="webfaction-logo" href="https://www.webfaction.com/?aid=120145">
                        <img src="https://www.webfaction.com/local_media/images/logo-white.png" alt="webfaction">
                    </a>
                </li>
                <li>
                    <p> Powered by </p>
                    <a class="django-logo" href="https://www.djangoproject.com/">
                        <img src="https://www.djangoproject.com/s/img/logos/django-logo-negative.svg" alt="django">
                    </a>

                </li>
            </ul>
            <p class="copyright">Boy Scouts of America's Troop 89 Medfield, Mayflower Council. Copyright &copy; 2018,
                2019 Brian Schubert.</p>
        </div>
    </div>
{% endspaceless %}</footer>
