<header>
    <div class="container">
        <div class="title">
            <a href="{% url 'home' %}">
                <h1><span class="extra"> boy scouts of america </span>troop 89</h1>
                <div class="description">
                    <p> Medfield, Massachusetts <span class="extra">-</span> Mayflower Council</p>
                </div>
            </a>
        </div>
        <nav>
            <ul> {% spaceless %}
                <li><a class="nav" href="#"> News </a></li>
                <li><a class="nav" href="{% url "events:current-month" %}"> Calendar </a></li>
                <li><a class="nav" href="#"> Information </a></li>
                <li><a class="nav" href="#"> About </a></li>
            {% endspaceless %}</ul>
        </nav>
    </div>

</header>
