<header>
    <div class="container">
        <div class="title">
            <a href="{% url 'home' %}">
                <h1><span class="extra"> Boy Scouts of America </span>Troop 89</h1>
                <div class="description">
                    <p> Medfield, Massachusetts <span class="extra">-</span> Mayflower Council</p>
                </div>
            </a>
        </div>
        <nav>
            <ul> {% spaceless %}
                <li><a href="{% url "events:current-month" %}"> Calendar </a></li>
                <li><a href="{% url "trooporg:current-term" %}"> Members</a></li>
                <li><a href="https://www.scoutbook.com/"> Scoutbook.com</a></li>
                {% if request.user.is_staff %}
                    <li><a href="{% url "admin:index" %}"> Admin</a></li>
                {% endif %}
                <li><a href="{% url "records" %}"> Records </a></li>
                <li><a href="{% url "about" %}"> About </a></li>
            {% endspaceless %}</ul>
        </nav>
    </div>

</header>
