{% extends "trooporg/base.html" %}

{% block title %}{{ patrol.name }} Patrol{% endblock %}

{% block description %}Meet the {{ patrol.name }} Patrol, founded {{ patrol.date_created }}, with {{ current_memberships|length|default:"no" }} current member{{ current_memberships|length|pluralize }}.{% endblock %}

{% block content_main %}
    {# Tempoary layout - to be formated #}
    <div class="members-header">
        <h1 class="title">{{ patrol.name }} Patrol</h1>
        <span class="meta">Founded {{ patrol.date_created }}</span>
    </div>
    <section>
        All time member count: {{ patrol.memberships.all|length }}
        {# todo: add additional patrol summaries e.g. all time member count, leaders #}
    </section>


    <section>
        <h2>Current Members</h2>
        {% if current_memberships %}
            <div class="bubble-header">
                <span class="title">
                    <a href="{{ current_term.get_absolute_url }}">{{ current_term.period_str }}</a>
                </span>
                {{ current_memberships|length }} Members
            </div>
            {% include "trooporg/includes/patrol-members.html" with memberships=current_memberships %}
        {% else %}
            The {{ patrol.name }} patrol currently has no members.
        {% endif %}
    </section>

    <section>
        {# All patrol memberships grouped by descending term. #}
        {% regroup patrol.memberships.all by term as term_map %}
        <h2>Other Term{{ term_map|pluralize }}</h2>
        {% spaceless %}{% for term in term_map %}
            {% if not term.grouper.is_current %}{# Ignore the current term - it's already displayed above. #}
                <div class="patrol-bubble col-2">
                    <header class="bubble-header">
                        <span class="title">
                            <a href="{{ term.grouper.get_absolute_url }}">{{ term.grouper.period_str }}</a>
                        </span>
                        {{ term.list|length }} Members
                    </header>
                    {% include "trooporg/includes/patrol-members.html" with memberships=term.list %}
                </div>
            {% endif %}
        {% endfor %}{% endspaceless %}
    </section>
{% endblock %}
