{% extends "base_error.html" %}

{% block title %}Bad Request{% endblock %}

{% block info_banner %}
    <h1>400 Bad Request</h1>
{% endblock %}

{% block content_main %}
    <h2>What was that?</h2>
    <p>The request you sent to our server could not be understood.</p>

    <p>Please ensure that you are using valid syntax and retry you're request. If this error persists, please <a href="https://github.com/blueschu/troop89medfield.org/">file a bug report</a> so that our webmaster can look into it.</p>
{% endblock %}
