{% extends "base_error.html" %}

{% block title %}Permission Denied{% endblock %}

{% block info_banner %}
    <h1>403 Permission Denied</h1>
{% endblock %}

{% block content_main %}
    <h2>You're not supposed to be here</h2>
    <p>You do not have permission to view this page.</p>

    <p>If you think this is an error, please <a href="https://troop89medfieldorg.readthedocs.io/en/latest/contributing.html#reporting-a-bug">file a bug report</a> so that our webmaster can look into it.</p>
{% endblock %}
