{% extends "base_error.html" %}

{% block title %}Page Not Found{% endblock %}

{% block info_banner %}
<h1>404 Not Found</h1>
{% endblock %}

{% block content_main %}
    <h2>Looks like we're lost.</h2>
    <p>The server can not find requested resource. </p>

    <p>If you were following a link from our site, please <a href="https://troop89medfieldorg.readthedocs.io/en/latest/contributing.html#reporting-a-bug">file a bug report</a> so that our webmaster can look into this issue. Otherwise, try navigating from our <a href="{% url "home" %}">homepage</a></p>
{% endblock %}
