{% extends "base_error.html" %}

{% block title %}Page Unavailable{% endblock %}

{% block info_banner %}
    <h1>500 Server Error</h1>
{% endblock %}

{% block content_main %}
    <h2>Page Unavailable</h2>
    <p>The server has encountered a situation it doesn't know how to handle.</p>

    <p>Please try again later. If this error persists, please <a href="https://troop89medfieldorg.readthedocs.io/en/latest/contributing.html#reporting-a-bug">file a bug report</a> so that our webmaster can look into it.</p>
{% endblock %}
