{% extends "base.html" %}

{% block info_banner %}
    <h1> Binary Template </h1>
{% endblock %}

{% block content %}
    <div class="container content content-binary">
        <main>
            {% block content_main %} {% include "includes/lorem_ipsum.html" %} {% endblock %}
        </main>
        <div class="sidebar">
            {% block content_sidebar %}
                <h2>About Troop 89</h2>
                <p> Troop 89 is a proud member of the Boy Scouts of America's Mayflower Council.
                    We are chartered to American Legion Beckwith Post 110. </p>
                <p> We hold weekly meetings at 7:30 PM at Dale Street School or Memorial
                    School in Medfield. See our calendar for detailed information on upcoming meetings events. </p>
                <h2>Upcoming Events</h2>
                While our responsive event feed is being developed, please see
                <a href="{% url "events:current-month" %}"> our Troop's calendar</a> for information on
                upcoming meetings and events.
                <h2>Contact the Troop</h2>
                <p> For more information about our troop, or for question regarding
                    Troop 89's operations, <a href="mailto:scoutmaster@troop89medfield.org"> please contact our
                        scoutmaster</a>.</p>
                <p> For questions or concerns regarding our website, <a href="mailto:webmaster@troop89medfield.org">
                    please reach out
                    to our webmaster.</a></p>
                <p> While our issue reporting system is being developed, please direct any errors or formatting issues
                    that you notice on our website to our webmaster. Kindly include what device and browser you are
                    using, along with any other information that might be helpful when replicating an issue.</p>
            {% endblock %}

        </div>
    </div>
{% endblock %}
