{% extends "base.html" %}

{% block info_banner %}
    <h1> Binary Template </h1>
{% endblock %}

{% block content %}
    <div class="container content content-binary">
        <main>
            {% block content_main %} {% include "includes/lorem_ipsum.html" %} {% endblock %}
        </main>
        <div class="sidebar">
            {% block content_sidebar %}
                <h2>About Troop 89</h2>
                <p> Troop 89 is a proud member of the Boy Scouts of America's Mayflower Council.
                    We are chartered to American Legion Beckwith Post 110. </p>
                <p> We hold weekly meetings at 7:00 PM at Dale Street School or Memorial School in Medfield.
                    We also hold monthly overnight outings. See <a href="{% url "events:current-month" %}">our
                        calendar</a> for detailed information on upcoming
                    meetings events. </p>
                <h2>Contact the Troop</h2>
                <p> For more information about our troop, or for question regarding
                    Troop 89's operations, <a href="mailto:scoutmaster@troop89medfield.org"> please contact our
                        scoutmaster</a>.</p>
                <p>Found an issue with our website? Consider
                    <a href="https://troop89medfieldorg.readthedocs.io/en/latest/contributing.html#reporting-a-bug">
                        filing a bug report
                    </a>. For questions or concerns regarding our website, <a href="mailto:webmaster@troop89medfield.org">
                    please reach out to our webmaster.</a></p>
            {% endblock %}

        </div>
    </div>
{% endblock %}
