{% extends "base_binary.html" %}
{% load event_includes %}

{% block info_banner %}<h1>Recent Updates</h1>{% endblock %}

{% block content_main %}

    {% if announcements %}
        <ul class="object-archive">
            {% for announcement in announcements %}
                {% include "announcements/includes/announcement_summary.html" with announcement=announcement %}
            {% endfor %}
        </ul>
    {% else %}
        No announcements have been posted.
    {% endif %}

    <div class="notice">
        <h2><a href="{% url "announcements:announcement-index" %}">See all announcements</a></h2>
    </div>

{% endblock %}

{% block content_sidebar %}
    <h1><a href="{% url "events:current-month"  %}">Upcoming Events</a></h1>
    {% render_upcoming_events 5 days=14 %}
    {{ block.super }}
    <h2><a href="{% url "announcements:announcement-index" %}">See all announcements &raquo;</a></h2>
{% endblock %}
